@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  font-family: 'Lora', serif;
  color: #2A3D45;
}

button{
    background-color: #8DCECC;
    border: #2A3D45 solid 1px;
    padding: 10px;
}