@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  font-family: 'Lora', serif;
  color: #2A3D45;
}

.grid-container {
    margin:0;
    display: grid;
    grid-template-rows: 1000px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
}

.text {
    grid-row: 1;
    grid-column: 1/4;
    width: 80vw;
    height: 100vw;
    border: 0;
}

.icon-bar {
    grid-column: 4/5;
    width: 20vw;
    background-color: #9bf091;
}

.icon-bar a {
    height: 100px;
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #519b5c;
}

h2{
    text-align: center;
    margin-top: -30px;
}
