html {
    margin: 0;
}

.grid-container {
    margin:0;
    display: grid;
    grid-template-rows: 1000px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}

#formattedText {
    display: none;
}

#textEditor {
    grid-row: 1; 
    grid-column: 1/2;
    width: 75vw;
    height: 100vh;
    border: 0;
    border: none;
    outline: none;
    padding: 40px;
    margin-top: 10px;
}

body {margin:0;}

.icon-bar button {
    font-size: large;
    grid-column: 3;
    height: 75px;
    width: 10vw;
    justify-items: center;
    align-items: center;
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: #8DCECC;
    border: none;
}

.icon-bar button:hover {
    background-color: #2A3D45;
}

.icon-bar {
    grid-column: 4;
    width: 10vw;
    height: 1050px;
    background-color: #2A3D45;
    border: none;
}

.notes_logo {
    display: inline;
    grid-column: 4;
    width: 70px;
    height: 70px;
    justify-self: center;
}

.format {
    width: 10vw;
    color: #8DCECC;
    padding: 16px;
    border: none;
}
  
.drop {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    width: 10vw;
    height: 40px;
    display: none;
    position: absolute;
    background-color: #EFD6AC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content button {
    width: 10vw;
    height: 40px;
    text-size-adjust: 10px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content button:hover {background-color: #ddd;}
  
.drop:hover .dropdown-content {display: block;}
  
.drop:hover .format {background-color: #2A3D45;}

.back_button {
    grid-column: 1;
    grid-row: 1;
    height: 42px;
    width: 42px;
}

footer {
    color: white;
    margin: 0 0;
    height: 100px;
    background-color: #2A3D45;
}



.upload-container {
    text-align: center;
}

.upload-label {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
}

#fileInput {
    display: none;
}

#imagePreview {
    max-width: 300px;
    max-height: 300px;
    margin-top: 20px;
}