
.grid-container {
    margin:0;
    display: grid;
    grid-template-rows: 1000px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
}

#formattedText {
    display: none;
}

.text {
    grid-row: 1;
    grid-column: 1/4;
    width: 80vw;
    height: 100vw;
    border: 0;
    border: none;
    outline: none;
    padding: 30px;
}

body {margin:0;}

.icon-bar button {
    grid-column: 4/5;
    height: 125px;
    width: 20vw;
    justify-items: center;
    align-items: center;
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    border: none;
}

.icon-bar button:hover {
    background-color: #519b5c;
}

.icon-bar {
    grid-column: 4/5;
    width: 20vw;
    background-color: #9bf091;
    border: none;
}

.format {
    width: 20vw;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.drop {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    width: 20vw;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content button {
    width: 20vw;
    text-size-adjust: 20px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content button:hover {background-color: #ddd;}
  
.drop:hover .dropdown-content {display: block;}
  
.drop:hover .format {background-color: #2a3492;}

.back_button {
    grid-column: 1;
    grid-row: 1;
    height: 42px;
    width: 42px;
}
